.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 132px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content,
.modal-content {
  height: 100%;
  overflow-x: auto;
}
.mobile-modal{
    margin: 0;
    padding: 0;
}
/* .modal.left .modal-body,
	 .modal-body {
		padding: 15px 15px 80px ;
	} */

.modal .left .fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0 3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0 3s ease-out;
  -o-transition: opacity 0.3s linear, left 0 3s ease-out;
  transition: opacity 0.3s linear, left 0 3s ease-out;
  -ms-transition: opacity 0.3s linear, left 0 3s ease-out;
}

.modal.left.fade.modal-dialog {
  left: 0;
}
