.sidebar-container {
  background-color: rgba(241, 248, 255, 1);
  width: 124px;
}
.features-icons {
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 80%;
}
.features-icons img {
  width: 20%;
}
.logo-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container img {
  width: 30%;
}


/* sidebarmodal */

 .mobile-body {
  background-color: rgba(241, 248, 255, 1);
  /* width: 124px; */
}
.modal-features-icons {
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
  justify-content: center;
  margin-top: 80%;
}
.modal-features-icons img {
  width: 30%;
}
.sidetext{
  font-size: 12px;
  margin: 0;
  font-weight: 600;
  padding-top: 5px;
}
.modal-logo-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
 /* align-items: center; */
}
.modal-logo-container img {
  width: 30%;
}
