*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Nav{
    width: 100%;
    background: #fff;
    box-shadow: 4px 4px 4px;
    height: auto;
}
.Nav-items{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

}

ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(5,1fr);
    justify-items: end;
    align-items: center;
    cursor: pointer;
    justify-self: end;
    grid-column-gap: 1rem;
}
ul li ,.link{
    margin: 1rem 0;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
ul li:last-child{
    
}
#started{
    background-color: blue;
    color: white !important;
    padding: .5rem;
    border-radius: 4px;
}
ul li ,.link:hover{
    color: rgb(50, 50, 226);
}
/* .link{
    text-decoration: none;
    color: orange;

} */