.Sec2body {
  background-color: white;
  max-width: 1400px;
  /* border: 2px solid rgb(0, 255, 102); */
  margin: 0 auto;
}
@media (max-width: 991px) {
  .Sec2body {
    width: 100%;
    padding-top: 30px;
  }
}
.Sec2body h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 58px;
  color: black;
}
@media (max-width: 991px) {
  .Sec2body h1 {
    padding-top: 5px;
    font-size: 200%;
  }
}

.Sec2body p {
  /* border: 1px solid red; */
  width: 68%;
  text-align: center;
  color: #747171;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .Sec2body p {
    padding-top: 5%;
    width: 100%;
      font-size: 15px;
  }
}
