.sec0-1-body {
  max-width: 1400px;
  /* border: 2px solid rgb(53, 8, 60); */
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .sec0-1-body {
    /* display: grid;
    /* grid-template-columns: 1fr; */
    width: 100%;
    padding-top: 50px;
  }
}

.sec0-1-flex {
  display: flex;
  /* justify-content: center; */
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  /* gap: 20px; */
  /* padding-top: 10%;
  padding-bottom: 10%; */
  /* align-items: center; */

  /* justify-content: space-around; */
  justify-content: space-between; 
}
@media (max-width: 991px) {
  .sec0-1-flex {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}

/* .sec0-1-cont {
  border: 8px solid black;
  width: 40%;
} */
@media (max-width: 991px) {
  .sec0-1-cont {
    /* border: 4px solid rgb(37, 29, 60); */
    width: 100%;
    padding-bottom: 10%;
  }
}

.sec0-1-cont h1 {
  /* border: 1px solid black; */
  width: 550px;
  font-size: 51px;
  padding-bottom: 20px;

}
@media (max-width: 991px) {
  .sec0-1-cont h1 {
    margin: 0 auto;
    /* width: 350px; */
    width: 100%;
    text-align: center;
    font-size: 37px;
  }
}
.sec0-1-cont p {
  /* border: 1px solid rgb(214, 0, 0); */
  width: 540px;
  font-size: 20px;
  color: #747171;
  padding-bottom: 15px;
}
@media (max-width: 991px) {
  .sec0-1-cont p {
   margin: 0 auto;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
}



.sec0-1-img {
  /* border: 1px solid black; */
  /* width: 40%; */
  padding-top: 5%;
}
@media (max-width: 991px) {
  .sec0-1-img {
      padding-top: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* display: none; */
  }
}
.btn0-1 {
  color: white;
  font-size: 20px;
  background-color: #3fb2e5;
  text-decoration: none;
  padding: 16px 50px;
  border-radius: 5px;
  /* border: 2px solid rgb(150, 57, 57); */
}
.btn0-1:hover {
 color: #ffffff;
  text-decoration: none;
  padding: 25px 55px;
  border-radius: 5px;
  /* border: 1px solid rgb(51, 17, 222); */
  background-color: #3fb2e5;
}
@media (max-width: 991px) {
  .btn0-1 {
    display: none;
    /* display: none; */
  }
}

.sec0-1-in-flex {
  /* border: 1px solid black; */
  width: 100%;
}
.sec0-1-in-flex-main {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 35%; */
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.sec0-1-in-flex-main h2 {
 font-size: 330%;
 font-family: 'Source Sans Pro';
}
@media (max-width: 991px) {
  .sec0-1-in-flex-main h2 {
    font-size: 220%;
  }}

.sec0-1-cont h5 {
  /* font-size: 90px; */
  /* font-size: 25px; */
  padding-bottom: 10%;
  /* padding-top: 7px; */
  /* border: 1px solid rgb(56, 18, 71); */
  width: 96%;
  text-align: center;
}
@media (max-width: 991px) {
  .sec0-1-cont h5 {
    font-size: 43%;
    padding-top: 6px;
    /* padding-bottom: 10px; */
  }
}